.banner {
  background-image: url(../../images/cover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vmin;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(7, 7, 7);
}

.banner > h1 {
  margin: 5vmax;
  font: 600 2.5vmax "Roboto";
}

.banner > p {
  font: 300 1.5vmax "Lucida Sans";
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: rgb(59, 193, 193);
  border: 1px solid rgb(59, 193, 193);
  border-radius: 5px;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}

.banner > a > button:hover {
  background-color: rgb(7, 108, 209);
  color: white;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: white;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(0 71%, 0% 100%, 100% 100%);
  max-width: 100%;
}

.homeHeading {
  text-align: center;
  font-family: "Roboto";
  font-size: 1.4vmax;
  border-bottom: 1px solid rgb(130, 136, 138);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(66, 66, 67);
}

.container{
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  width: 15vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(66, 66, 67);
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 1vmax;
}

.productCard > img {
  width: 15vmax;
  height: 15vmax;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.productCardSpan{
  margin: 1vmax;
  font: 300 0.7vmax "Roboto";
}

.productCard > p {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: rgb(12, 46, 184);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1vmax;
  font-weight: bold;
}

.productCard:hover {
  box-shadow: 0 0 5px rgb(66, 66, 67);
  transform: translate(-0.5vmax);
}

@media screen and (max-width:600px){
  .productCard > p{
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span{
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
